// project colors
$white: #ffffff;
$black: #0D0A0B;

$textColor: $black;

$primary: #E30517;
$primaryLight: #EB5757;
$secondary: #820001;

$gray: #828282;
$grayLight: #E6E6E6;

$beige: #D9D1C3;
$beigeLight: #F2EFEA;

$success:#21D184;
$error: #FF5C5C;
$link: #3870FF;


$fontPrimary: "Montserrat",
sans-serif;
$fontTitle: "DMSerifText",
sans-serif;

// timing
$hover-duration: .6s;
$duration: 1.6s;
$timing: cubic-bezier(.32,.94,.6,1);